	 	<div class="container form_body">
			<form action="index.php?ctl=damagedetail&act={action}" method="post" role="form">
	 			<h1>Detalle de Daños</h1>
	 			<div class="form-group">
				    <label for="idDamageDetail">Id Detalle de Daño:</label>
				    <input type="number" class="form-control" id="idDamageDetail" name="idDamageDetail" value="{value-id-damage-detail}" min="1" readonly>
			  	</div>
			  	<div class="form-group">
				    <label for="idChecklist">Id Checklist:</label>
				    <input type="number" class="form-control" id="idChecklist" name="idChecklist" value="{value-id-checklist}" min="1" {active} required>
			  	</div>
			  	<div class="form-group">
				    <label for="idVehiclePart">Parte de Vehículo:</label>
				    <select class="form-control" id="idVehiclePart" name="idVehiclePart" {active} required>
					{vehicle-part-options-start}
					<option value="{id-vehicle-part}">{vehicle-part}</option>
					{vehicle-part-options-end}
				    </select>
				    <!--<input type="number" class="form-control" id="idVehiclePart" name="idVehiclePart" value="{value-id-vehicle-part}" min="1" {active} required>-->
			  	</div>
			  	<div class="form-group">
				    <label for="idDamage">Daño:</label>
				    <select class="form-control" id="idDamage" name="idDamage" {active} required>
					{damage-options-start}
					<option value="{id-damage}">{damage}</option>
					{damage-options-end}
				    </select>
				    <!--<input type="number" class="form-control" id="idDamage" name="idDamage" value="{value-id-damage}" min="1" {active} required>-->
			  	</div>
			  	<div class="form-group">
				    <label for="DamageSeverity">Severidad del Daño:</label>
				    <select class="form-control" id="DamageSeverity" name="DamageSeverity" {active} required>
						<option value="1" {selected-1}>Ninguno</option>
						<option value="2" {selected-2}>Mínimo</option>
						<option value="3" {selected-3}>Regular</option>
						<option value="4" {selected-4}>Grave</option>
						<option value="5" {selected-5}>Pérdida Total</option>
					</select>
				    <!-- <input type="number" class="form-control" id="DamageSeverity" name="DamageSeverity" value="{value-damage-severity}" min="1" max="5" {active} required> -->
			  	</div>
				<button type="submit" class="btn btn-default" {active}>Guardar</button>
			</form>
		</div>
		
