	 	<div class="container form_body">
			<form action="index.php?ctl=event&act={action}" method="post" role="form">
	 			<h1>Evento</h1>
	 			<div class="form-group">
				    <label for="idEvent">Id Evento:</label>
				    <input type="number" class="form-control" id="idEvent" name="idEvent" value="{value-idEvent}" disabled>
			  	</div>
			  	<div class="form-group">
				    <label for="Event">Evento:</label>
				    <input type="text" class="form-control" id="Event" name="Event" value="{value-Event}" {active} required>
			  	</div>
				<button type="submit" class="btn btn-default" {active}>Guardar</button>
			</form>
		</div>
		
