	 	<div class="container form_body">
			<form action="index.php?ctl=user&act={action}" method="post" role="form">
	 			<h1>Registro de Eventos</h1>
	 			<div class="form-group">
				    <label for="idEventRegistry">Id Registro de Evento:</label>
				    <input type="number" class="form-control" id="idEventRegistry" name="idEventRegistry" value="{value-idEventRegistry}" readonly>
			  	</div>
			  	<div class="form-group">
				    <label for="idVehicle">Id Vehículo:</label>
				    <input type="number" class="form-control" id="idVehicle" name="idVehicle" value="{value-idVehicle}" {active} required>
			  	</div>
			  	<div class="form-group">
				    <label for="idEvent">Id Evento:</label>
				    <input type="number" class="form-control" id="idEvent" name="idEvent" value="{value-idEvent}" {active} required>
			  	</div>
			  	<div class="form-group">
				    <label for="Reason">Motivo:</label>
				    <input type="text" class="form-control" id="Reason" name="Reason" value="{value-Reason}" {active} required>
			  	</div>
				<button type="submit" class="btn btn-default" {active}>Guardar</button>
			</form>
		</div>
		
