		<sidebar class="container list_sidebar pull-right">
			<h1>Listas</h1>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="index.php?ctl=user&act=list" target="_blank">Usuarios</a></li>
				<li><a href="index.php?ctl=usertype&act=list" target="_blank">Tipos de Usuario</a></li>
				<li><a href="index.php?ctl=vehicle&act=list" target="_blank">Vehículos</a></li>
				<li><a href="index.php?ctl=vehiclebrand&act=list" target="_blank">Marcas</a></li>
				<li><a href="index.php?ctl=vehiclemodel&act=list" target="_blank">Modelos</a></li>
				<li><a href="index.php?ctl=location&act=list" target="_blank">Ubicaciones</a></li>
				<li><a href="index.php?ctl=event&act=list" target="_blank">Eventos</a></li>
				<li><a href="index.php?ctl=eventregistry&act=list" target="_blank">Registros de Evento</a></li>
				<li><a href="index.php?ctl=vehiclestatus&act=list" target="_blank">Estatus de Vehículo</a></li>
				<li><a href="index.php?ctl=chacklist&act=list" target="_blank">Checklists</a></li>
				<li><a href="index.php?ctl=damagedetail&act=list" target="_blank">Detalles de Daños</a></li>
				<li><a href="index.php?ctl=damage&act=list" target="_blank">Daños</a></li>
				<li><a href="index.php?ctl=vehiclepart&act=list" target="_blank">Partes de Vehículo</a></li>
			</ul>
		</sidebar>
	</body>
</html>
