		<div class="container form_body">
			<h1>Ubicaciones</h1>
			<form action="index.php?ctl=location&act=list" method="post" role="form">
	 			<div class="form-group">
					<label class="pull-left" for="filter_select" id="filter_label">Filtro: </label>
					<select class="form-control pull-left filter_control" name="filter_select" id="filter_select" onchange="changeFilterLocation();">
						<!-- En value va el nombre como vienen el campo en la BDD -->
						<option value="idLocation">IdUbicación</option>
					   <option value="location">Ubicación</option>					   	
					   	<option value="idMasterLocation">Ubicación Maestra</option>
					</select>
					<input type="number" min="1" class="form-control pull-left filter_control" id="filter_condition" name="filter_condition" required>
			  	</div>
				<button type="submit" class="btn btn-default pull-left">Filtrar</button>
			</form>
			<br />
			<br />
			<table class="table table-bordered table-hover">
				<thead>
					<!-- Encabezado con los campos de la tabla -->
					<tr>
						<th>IdUbicación</th>
						<th>Ubicación</th>
						<th>Ubicación Maestra</th>
					</tr>
				</thead>
				<tbody>
					{row-start}
					<tr>
						<td>{value-idLocation}</td>
						<td>{value-location}</td>
						<td>{value-idMasterLocation}</td>
					</tr>
					{row-end}
				</tbody>
			</table>
		</div>
