		<div class="container form_body">
			<h1>Partes de Vehículo</h1>
			<form action="index.php?ctl=vehiclepart&act=list" method="post" role="form">
	 			<div class="form-group">
				    <label class="pull-left" for="filter_select" id="filter_label">Filtro: </label>
				    <select class="form-control pull-left filter_control" name="filter_select" id="filter_select">
						<!-- En value va el nombre como vienen el campo en la BDD -->
						<option value="idVehiclePart">Id Parte de Vehículo</option>
					    <option value="VehiclePart">Parte de Vehículo</option>
					</select>
					<input type="text" class="form-control pull-left filter_control" id="filter_condition" name="filter_condition" required>
			  	</div>
				<button type="submit" class="btn btn-default pull-left">Filtrar</button>
			</form>
			<br />
			<br />
			<table class="table table-bordered table-hover">
				<thead>
					<!-- Encabezado con los campos de la tabla -->
					<tr>
						<th>Id Parte de Vehículo</th>
						<th>Parte de Vehículo</th>
					</tr>
				</thead>
				<tbody>
					{row-start}
					<tr>
						<td>{value-id-vehicle-part}</td>
						<td>{value-vehicle-part}</td>
					</tr>
					{row-end}
				</tbody>
			</table>
		</div>