<div class="container form_body">
			<form action="index.php?ctl=vehiclebrand&act={action}" method="post" role="form">
	 			<h1>Usuario</h1>
	 			<div class="form-group">
				    <label for="id_vehicle_brand">Id Marca Vehículo:</label>
				    <input type="number" class="form-control" id="id_vehicle_brand" name="id_vehicle_brand" value="{value-id-vehicle-brand}" disabled>
			  	</div>
			  	<div class="form-group">
				    <label for="vehicle_brand">Marca Vehículo:</label>
				    <input type="text" class="form-control" id="vehicle_brand" name="vehicle_brand" value="{value-vehicle-brand}" {active} required>
			  	</div>
				<button type="submit" class="btn btn-default" {active}>Guardar</button>
			</form>
		</div>